{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SimonPost.COM</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.ico' %}">
		<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	</head>

	<body>
		<div class="blog">
			
			<div class="content">
				<h2 class='ryufont'><a href="{% url 'blog:post_list' %}">SimonPost.COM</a></h2>
				{% block content %}
				{% endblock %}
			</div>
			<div class="sidebar">
				<h2 class='ryufont'><a href="{% url 'blog:post_list' %}">SimonPost.COM</a></h2>
				<p>A blog about tech stuff, web development, inside the life of a crazy average asian-american</p>
				<p><a href="https://github.com/simonhlee97/" target="_blank">GitHub</a></p>
				<p><a href="https://linkedin.com/in/simon-h-lee/" target="_blank">LinkedIn</a></p>

				<p>{% total_posts %} posts so far, and counting.</p>
				<p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
				<h3>Latest Posts</h3>
				{% show_latest_posts 3 %}

				<h3>Most commented posts</h3>
				{% get_most_commented_posts as most_commented_posts %}
				<ul>
					{% for post in most_commented_posts %}
						<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
				<p><a href="{% url 'about' %}">About this blog</a></p>
			</div>
		</div>
	</body>
</html>
